<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SqlConnection"
            connectionString="Workstation Id=AISofRealEstateAgency.mssql.somee.com;Packet Size=4096;Data Source=AISofRealEstateAgency.mssql.somee.com;Initial Catalog=AISofRealEstateAgency;User ID=nhhk_SQLLogin_1;Password=2m9ywzpz8m;Persist Security info=False;"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>